.chat_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--chat-header-icon);
    padding: 10px;
    border-bottom: 3px solid var(--chat-header-border);
}

.chat_header_left {
    display: flex;
    align-items: center;
    color: var(--chat-header-font);
}

.chat_header_right {
    display: flex;
    flex: 0;
    align-items: center;
    color: var(--font-secondary);
}

.chat_header_right>.MuiSvgIcon-root {
    cursor: pointer;
    padding: 10px;
}

.chat_header_right>.MuiSvgIcon-root:hover {
    color: var(--font-primary);
}

.chat_header_left>.MuiSvgIcon-root {
    padding: 10px;
}

.chat_header_search {
    display: flex;
    align-items: center;
    color: var(--chat-header-search-icon);
    background-color: var(--chat-header-search-background);
    border-radius: 3px;
    padding: 3px;
    margin-right: 20px;
}

.chat_header_search>input {
    background: transparent;
    outline-width: 0;
    color: var(--chat-header-search-text);
    border: none;
}