.settings_logout>button {
    background-color: var(--settings-logout-button);
    color: var(--settings-logout-button-font);
    width: 150px;
    font-weight: bold;
}

.settings_logout>button:hover {
    background-color: var(--settings-logout-button-hover);
    color: var(--settings-logout-button-font);
}

.inner_modal {
    display: flex;
    flex-direction: column;
}

.inner_modal>h2 {
    color: var(--settings-font);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--settings-header-border);
}

.inner_modal>h3 {
    color: var(--settings-font);
    padding-top: 5px;
    padding-bottom: 5px;
}

.settings_section>h4 {
    color: var(--font-primary);
}

.settings_logout {
    border-top: 1px solid var(--settings-header-border);
    padding-top: 20px;
}

.settings_section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.settings_section>button {
    margin-top: 5px;
    background-color: var(--settings-section-button);
    color: var(--settings-section-button-font);
    text-transform: none;
}

.settings_section>button:hover {
    background-color: var(--settings-section-button-hover);
    color: var(--settings-section-button-font);
}

.settings_fontSize>.MuiSvgIcon-root {
    cursor: pointer;
    padding: 5px;
}

.settings_fontSize>.MuiSvgIcon-root:hover {
    color: var(--font-primary);
}