.message {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    color: var(--message-text);
}

.message_info {
    margin-left: 20px;
}

.message_time {
    color: var(--message-timestamp);
    margin-left: 20px;
    font-size: small;
}

.message_content p {
    font-size: 1rem;
}

.message_content img {
    max-width: 100%;
    max-height: 400px;
    padding-top: 10px;
}

.message_content a {
    color: var(--message-link);
}