.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--primary-color);

}

.message_info {
    margin-left: 20px;

}

.message_time {
    color: var(--secondary-color);
    margin-left: 20px;
    font-size: small;
}