.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--message-text);
}

.message_info {
    margin-left: 20px;
}

.message_time {
    color: var(--message-timestamp);
    margin-left: 20px;
    font-size: small;
}