.settings_logout>button {
    background-color: var(--settings-logout-button);
    color: var(--settings-font);
}

.settings_logout>button:hover {
    background-color: var(--settings-logout-button-hover);
    color: var(--settings-font);
}