@import "../style/theme.css";

.sidebar_channel:hover>h4 {
    color: var(--primary-color);
    background-color: var(--background-color-accent-light);
}

.sidebar_channel>h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: var(--background-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.sidebar_channel_icon {
    padding: 10px;
}