@import "../style/theme.css";

.sidebar_channel:hover>h4 {
    color: var(--sidebar-channel-font-hover);
    background-color: var(--sidebar-channel-background-hover);
}

.sidebar_channel>h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: var(--sidebar-channel-background);
    color: var(--sidebar-channel-font);
    cursor: pointer;
}

.sidebar_channel_icon {
    padding: 10px;
}