.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--login-background);
}

.login_overlay {
    border-radius: 10px;
    height: 45%;
    min-height: 300px;
    width: 600px;
    display: grid;
    place-items: center;
    background-color: var(--login-modal-background);
    color: var(--login-modal-font);
    box-sizing: border-box;
    padding: 32px;
}

.login_overlay>button {
    width: 300px;
    background-color: var(--login-button);
    color: var(--login-button-font);
    font-weight: bold;
}

.login_overlay>button:hover {
    background-color: var(--login-button-hover);
}

.login_overlay>div>img {
    object-fit: contain;
    height: 75px;
}

.login_overlay>button>.MuiSvgIcon-root {
    padding-right: 20px;
}

.login_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_header>img {
    height: 50px;
    vertical-align: middle;
    padding-right: 15px;
}